In [2]:
import numpy as np
import pandas as pd
from IPython.display import display, HTML

# import data
dataset = pd.read_csv('C:\\MyData\\SML\\train.csv')
print("Dataset Loaded ...")

display(HTML(dataset.describe().transpose().to_html()))
print(dataset.isna().sum())   
display(HTML(dataset.corr().transpose().to_html()))

Dataset Loaded ...

Number words female                     0
Total words                             0
Number of words lead                    0
Difference in words lead and co-lead    0
Number of male actors                   0
Year                                    0
Number of female actors                 0
Number words male                       0
Gross                                   0
Mean Age Male                           0
Mean Age Female                         0
Age Lead                                0
Age Co-Lead                             0
Lead                                    0
dtype: int64

In [3]:
# df = df.fillna(0)

# Add calculated fields, that has higher correlation to the output column (Lead = F/M)
dataset.insert(loc=13, column='Female Lead Age Diff', value=(abs( dataset['Mean Age Female'] - dataset['Age Lead'])))
dataset.insert(loc=13, column='Male Lead Age Diff', value=(abs( dataset['Mean Age Male'] - dataset['Age Lead'])))
dataset.insert(loc=13, column='Female colead Age Diff', value=(abs( dataset['Mean Age Female'] - dataset['Age Co-Lead'])))
dataset.insert(loc=13, column='Male colead Age Diff', value=(abs( dataset['Mean Age Male'] - dataset['Age Co-Lead'])))
dataset.insert(loc=13, column='Female Avg words', value=(dataset['Number words female'] / dataset['Number of female actors']))
dataset.insert(loc=13, column='Male Avg words', value=(dataset['Number words male'] / dataset['Number of male actors']))

#drop columns with correlation less than 0.1
dataset.drop('Number words female', inplace=True, axis=1)
dataset.drop('Total words', inplace=True, axis=1)
dataset.drop('Year', inplace=True, axis=1)
dataset.drop('Number words male', inplace=True, axis=1)
dataset.drop('Gross', inplace=True, axis=1)
dataset.drop('Mean Age Male', inplace=True, axis=1)
dataset.drop('Mean Age Female', inplace=True, axis=1)


print('Dataset shape = ',dataset.shape)

Dataset shape =  (387, 12)

In [6]:
dataset.to_csv('D:\data22.csv')
#display(HTML(dataset.corr().transpose().to_html()))